*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  letter-spacing: 0;
}


/* ================= Aclonica ================= */
@font-face {
  font-family: 'aclonica';
  src: url('/fonts/aclonica/aclonica/Aclonica-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* ================= Fraunces ================= */

/* ================= Fraunces ================= */

@font-face {
  font-family: "frauncesthin";
  src: url("/fonts/fraunces/fraunces/static/Fraunces_72pt-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "fraunceslight";
  src: url("/fonts/fraunces/fraunces/static/Fraunces_72pt-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "frauncesregular";
  src: url("/fonts/fraunces/fraunces/static/Fraunces_72pt-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "frauncesitalic";
  src: url("/fonts/fraunces/fraunces/static/Fraunces_72pt-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "frauncessemibold";
  src: url("/fonts/fraunces/fraunces/static/Fraunces_72pt-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "frauncessemibolditalic";
  src: url("/fonts/fraunces/fraunces/static/Fraunces_72pt-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "frauncesbold";
  src: url("/fonts/fraunces/fraunces/static/Fraunces_72pt-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "frauncesbolditalic";
  src: url("/fonts/fraunces/fraunces/static/Fraunces_72pt-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "frauncesblack";
  src: url("/fonts/fraunces/fraunces/static/Fraunces_72pt-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "frauncesblackitalic";
  src: url("/fonts/fraunces/fraunces/static/Fraunces_72pt-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
/* ---------inter-------------- */
@font-face {
  font-family: "intersemibold";
  src: url("/fonts/inter/Inter/static/Inter_18pt-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "interregular";
  src: url("/fonts/inter/Inter/static/Inter_18pt-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "interblack";
  src: url("/fonts/inter/Inter/static/Inter_18pt-Black.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "intermedium";
  src: url("/fonts/inter/Inter/static/Inter_18pt-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "interbold";
  src: url("/fonts/inter/Inter/static/Inter_18pt-Bold.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "interextrabold";
  src: url("/fonts/inter/Inter/static/Inter_18pt-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}


/* ================= Satoshi (all static weights) ================= */
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/satoshi/satoshi/Satoshi-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/satoshi/satoshi/Satoshi-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'satoshiregular';
  src: url('/fonts/satoshi/satoshi/Satoshi-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'satoshiitalic';
  src: url('/fonts/satoshi/satoshi/Satoshi-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'satoshimedium';
  src: url('/fonts/satoshi/satoshi/Satoshi-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'satoshimediumitalic';
  src: url('/fonts/satoshi/satoshi/Satoshi-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'satoshibold';
  src: url('/fonts/satoshi/satoshi/Satoshi-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'satoshibolditalic';
  src: url('/fonts/satoshi/satoshi/Satoshi-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'satoshiblack';
  src: url('/fonts/satoshi/satoshi/Satoshi-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'satoshiblackitalic';
  src: url('/fonts/satoshi/satoshi/Satoshi-BlackItalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

/* ================= Young Serif ================= */
@font-face {
  font-family: 'youngserif';
  src: url('/fonts/young-serif/young-serif/YoungSerif-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* ================= Tw Cen MT ================= */
@font-face {
  font-family: 'twcenmt';
  src: url('/fonts/tw-cen-mt/Tw Cen MT.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
/* ================= Tw Cen MT Condensed ================= */
@font-face {
  font-family: 'twcenmtcondensed';
  src: url('/fonts/Tw-Cen-MT-Condensed-Font/Tw-Cen-MT-Condensed.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* ================= Tw Cen MT Condensed ExtraBold ================= */
@font-face {
  font-family: 'twcenmtcondensedextrabold';
  src: url('/fonts/Tw-Cen-MT-Condensed-Font/Tw Cen MT Condensed ExtraBold.TTF') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'twcenmtcondensedregular';
  src: url('/fonts/Tw-Cen-MT-Condensed-Font/Tw Cen MT Condensed Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* ================= Great Vibes ================= */
@font-face {
  font-family: "greatvibes";
  src: url("/fonts/great-vibes/GreatVibes-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* ================= Aesthetical (signature) ================= */
@font-face {
  font-family: "aesthetical";
  src: url("/fonts/aesthetical-signature/Aesthetical.otf") format("opentype"),
       url("/fonts/aesthetical-signature/Aesthetical.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* ================= Secretoria ================= */
@font-face {
  font-family: "secretoria";
  src: url("/fonts/secretoria/Secretoria.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* ================= Woodsen Signature ================= */
@font-face {
  font-family: "woodsensignature";
  src: url("/fonts/woodsen-signature/Woodsen Signature.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}